package device


type LatestNatsMessage struct {
    Subject string
    Data    string
}

templ LatestNatsMessages(messages []LatestNatsMessage ) {
    <div id=logmessages >        
        <code>
            for _, msg := range messages {
             { msg.Data } <br>             
            }
        </code>
    </div>
   
}

templ listAllUnits() {
    
}
